body {
    background-image: url(homepage.png);
    background-size: cover; 
    background-position: center top;
    background-repeat: no-repeat;
  }
/*Moving images*/
.goalimg {
  transform: translateX(100px) translateY(400px);
}
.chatimg{
  transform: translateX(300px) translateY(400px);
}
.browseimg{
  transform: translateX(1140px) translateY(300px);
}
